@model GymApp.Models.Member
<form class="form-group" method="post">

    <b>Name</b>
    @Html.TextBoxFor(x=>x.Name, new{@class="form-control"})
    <br />
    <b>Surname</b>
    @Html.TextBoxFor(x=>x.Surname, new{@class="form-control"})
    <br />
    <b>Status</b>
    @Html.TextBoxFor(x=>x.Status, new{@class="form-control"})
    <br />

    <button class="btn btn-info">Add Member</button>

</form>
