@model GymApp.Models.Employee
<form class="form-group" method="post">

    <b>Name</b>
    @Html.TextBoxFor(x=>x.Name, new{@class="form-control"})
    <br />
    <b>Surname</b>
    @Html.TextBoxFor(x=>x.Surname, new{@class="form-control"})
    <br />
    <b>Position</b>
    @Html.TextBoxFor(x=>x.Position, new{@class="form-control"})
    <br />

    <button class="btn btn-info">Add Employee</button>

</form>
