@model GymApp.Models.Manager
<form class="form-group" method="post">

    <b>UserName</b>
    @Html.TextBoxFor(x=>x.UserName, new{@class="form-control"})
    <br />
    <b>Password</b>
    @Html.PasswordFor(x=>x.Password, new{@class="form-control"})
    <br />

    <button class="btn btn-info">Login</button>

</form>

